pipeline/CopyEBSDataInParquetSet1.json
{
	"name": "CopyEBSDataInParquetSet1",
	"properties": {
		"activities": [
			{
				"name": "Get Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT owner, table_name, NUM_ROWS FROM SYS.ALL_TABLES WHERE (OWNER = 'INV' OR  OWNER = 'ONT') AND NUM_ROWS > 0 ORDER BY NUM_ROWS ASC;",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "EBSTablesList1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "export table data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().OWNER}.@{item().TABLE_NAME}"
								},
								{
									"name": "Destination",
									"value": "whilfs/Perquest_Files/EBS_12_2_5/@{concat(item().OWNER,'.',item().TABLE_NAME,'.parquet')}"
								},
								{
									"name": "SourceRowCount",
									"value": "@{item().NUM_ROWS}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "wp01-WorkspaceDefaultStorage",
											"type": "LinkedServiceReference"
										},
										"path": "whilfs/PipelineLog"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EBSTableSet1",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().OWNER",
											"type": "Expression"
										},
										"table_name": "@item().TABLE_NAME"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "EBSPerquestSet1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().OWNER,'.',item().TABLE_NAME,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ParquetFormat"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-12T10:49:04Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}