pipeline/CopyProductionDataInPerquest.json
{
	"name": "CopyProductionDataInPerquest",
	"properties": {
		"description": "Copy data from Production Database - MySQL",
		"activities": [
			{
				"name": "Get Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SHOW FULL TABLES where table_type = 'BASE TABLE';"
					},
					"dataset": {
						"referenceName": "ProductionDBTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each ProductionDB Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Export Tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().Tables_in_report_wbst}"
								},
								{
									"name": "Destination",
									"value": "whilfs/Perquest_Files/@{concat('Production.', item().Tables_in_report_wbst,'.perquest')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ProductionDBTables",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().Tables_in_report_wbst",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ProductionDBParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat('Production.', item().Tables_in_report_wbst,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 4,
		"folder": {
			"name": "ParquetFormat"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-12T10:49:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}