pipeline/DeltaCopyCRMData_ParamConn.json
{
	"name": "DeltaCopyCRMData_ParamConn",
	"properties": {
		"activities": [
			{
				"name": "CRM TableList",
				"description": "Get the list of CRM Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select col.owner as schema_name,\n       col.table_name, \n       col.column_name AS Data_Source_WaterMarkColumn\n      from sys.all_tab_columns col\nWHERE col.owner = 'CRM' AND col.column_name \nIN ('MODIFIED_DATE', 'LAST_UPDATE') UNION\n(select owner as schema_name,\n       table_name, \n       column_name AS Data_Source_WaterMarkColumn\nfrom sys.all_tab_columns\nWHERE TABLE_NAME NOT IN (\nselect col.table_name\nfrom sys.all_tab_columns col\nWHERE col.owner = 'CRM' AND col.column_name \nIN ('MODIFIED_DATE', 'LAST_UPDATE')) \nAND owner = 'CRM' \n--AND DATA_TYPE NOT LIKE ('DATE','TIMESTAMP(6)')\nAND column_name IN ('ACTIVE_END_DATE', 'ACTIVE_END_DATE', 'ACTIVE_END_DATE', 'CREATED_DATE', 'ACTIVE_END_DATE', 'SEND_DATE'))",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "OracleDataset_Generic",
						"type": "DatasetReference",
						"parameters": {
							"Host": {
								"value": "@pipeline().parameters.DBHost",
								"type": "Expression"
							},
							"Port": {
								"value": "@pipeline().parameters.DBPort",
								"type": "Expression"
							},
							"ServiceName": {
								"value": "@pipeline().parameters.DBServiceName",
								"type": "Expression"
							},
							"UserName": {
								"value": "@pipeline().parameters.DBUser",
								"type": "Expression"
							},
							"Password": {
								"value": "@pipeline().parameters.DBPassword",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each CRM Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CRM TableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CRM TableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "DeltaCopy_DB_using_ControlTable",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DeltaCopy_DB_using_ControlTable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Source_Table_Name": {
										"value": "@item().Table_Name",
										"type": "Expression"
									},
									"Data_Source_WaterMarkColumn": {
										"value": "@item().Data_Source_WaterMarkColumn",
										"type": "Expression"
									},
									"Data_Destination_Container": {
										"value": "@pipeline().parameters.Data_Destination_Container",
										"type": "Expression"
									},
									"Data_Destination_Directory": {
										"value": "@pipeline().parameters.Data_Destination_Directory",
										"type": "Expression"
									},
									"Control_Table_Table_Name": {
										"value": "@pipeline().parameters.Control_Table_Table_Name",
										"type": "Expression"
									},
									"Control_Table_Column_Name": {
										"value": "@pipeline().parameters.Control_Table_Column_Name",
										"type": "Expression"
									},
									"Data_Source_Schema": {
										"value": "@item().Schema_Name",
										"type": "Expression"
									},
									"DBHost": {
										"value": "@pipeline().parameters.DBHost",
										"type": "Expression"
									},
									"DBPort": {
										"value": "@pipeline().parameters.DBPort",
										"type": "Expression"
									},
									"DBServiceName": {
										"value": "@pipeline().parameters.DBServiceName",
										"type": "Expression"
									},
									"DBUser": {
										"value": "@pipeline().parameters.DBUser",
										"type": "Expression"
									},
									"DBPassword": {
										"value": "@pipeline().parameters.DBPassword",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DBHost": {
				"type": "string",
				"defaultValue": "192.168.150.5"
			},
			"DBPort": {
				"type": "string",
				"defaultValue": "1521"
			},
			"DBServiceName": {
				"type": "string",
				"defaultValue": "hrpos"
			},
			"DBUser": {
				"type": "string",
				"defaultValue": "SHIBLEE"
			},
			"Data_Destination_Container": {
				"type": "string",
				"defaultValue": "whilfs"
			},
			"Data_Destination_Directory": {
				"type": "string",
				"defaultValue": "Perquest_Files"
			},
			"Control_Table_Table_Name": {
				"type": "string",
				"defaultValue": "watermarktable"
			},
			"Control_Table_Column_Name": {
				"type": "string",
				"defaultValue": "WatermarkValue"
			},
			"DBPassword": {
				"type": "string",
				"defaultValue": "RJq9bq"
			}
		},
		"folder": {
			"name": "TestPipelines_ToBeDeletedLater"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-17T05:00:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}